/* Creature ==================================================== */

figure {
  width: 200px;
  height: 200px;
  padding: 40px;
  box-shadow: inset -10px -30px rgba(0,0,0,.06);
  border-radius: 50%;
  -webkit-animation: bobble 5s ease-in-out infinite;
  animation: bobble 5s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s;
  text-align: center;
  background: cadetblue;
}

@-webkit-keyframes bobble {
  33% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  66% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@keyframes bobble {
  33% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  66% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

li:nth-child(5n+1) figure {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  background-color: cadetblue;
}

li:nth-child(5n+1) figure {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  background-color: tomato;
}

li:nth-child(5n+2) figure {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: dodgerblue;
}

li:nth-child(5n+3) figure {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-color: coral;
}

li:nth-child(5n+4) figure {
  -webkit-animation-delay: -.2.5s;
  animation-delay: -.2.5s;
  background-color: limegreen;
}

li:hover figure {
  padding: 30px 40px;
}
li:hover .click-anim {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.click-anim {
  -webkit-transition: .3s cubic-bezier(.15,.60,.30,1.9);
  transition: .3s cubic-bezier(.15,.60,.30,1.9);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

li:active .click-anim {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.eye {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin: 0 5px 5px;
  background: rgba(0,0,0,.9);
  border-radius: 10px;
  border-radius: 50%;
  -webkit-animation: blink 4s ease-in-out infinite;
  animation: blink 4s ease-in-out infinite;
}

@-webkit-keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }

  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

@keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }

  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
/* Mouth =================================================== */

.mouth {
  display: block;
  width: 100%;
  height: 20px;
  margin: 5px auto 0;
  background: rgba(0,0,0,.9);
  border-radius: 10px 10px 100px 100px;
  border-radius: 10px 10px 50% 50%;
  -webkit-transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
  transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
  overflow: hidden;
  line-height: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

.teeth:after,
.teeth:before,
.tooth:after {
  display: inline-block;
  content: "";
  margin: 0 2px;
  width: 15px;
  height: 15px;
  background: #eee;
}

li:nth-child(odd) .tooth:after {
  margin-right: 17px;
}

li:nth-child(even) .tooth:after {
  margin-left: 17px;
}

/* Behaviors =================================================== */
.hungry .mouth {
  -webkit-animation: hungry .5s infinite;
  animation: hungry .5s infinite;
  border-radius: 30px 30px 50% 50%;
  height: 80px;
}

.hungry .mouth:hover {
  cursor: none;
}

@-webkit-keyframes hungry {
  40% {
    height: 40px;
  }
}

@keyframes hungry {
  40% {
    height: 40px;
  }
}

.nervous .mouth {
  -webkit-animation: nervous .2s infinite;
  animation: nervous .2s infinite;
  border-radius: 40% 40% 5px 5px;
}

@-webkit-keyframes nervous {
  50% {
    height: 24px;
  }
}

@keyframes nervous {
  50% {
    height: 24px;
  }
}

.hyper {
  -webkit-animation: hyper 2s infinite;
  animation: hyper 2s infinite;
}

@-webkit-keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }

  75% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }

  75% {
    -webkit-transform: none;
    transform: none;
  }
}

.hyper .mouth {
  height: 80px;
  border-radius: 20px 20px 50% 50%;
}